	body{
		margin: 0;
	    padding: 0;
	    background: #efeee7;
	    font-size: 18px;
	    line-height: 150%;
	    font-family: "Georgia", "Times New Roman", Times, serif; 
	    color: #333333;
	}
	header{
		background-color: #d21034;
	}
	#main-bio{
		width: 70%;
		float: left;
		margin: 0px;
		padding: 0px;
	}
	#contact-info{
		width: 30%;
		float: right;
	}
	h1{
		background-color: #333333;
		color: #ffffff;
		font-size: 28px;
		text-align: center;
		padding: 0px;
		margin: 0px;
		vertical-align: top;
	}
	h2 {
    font-size: 24px;
	}
	a {
	    color: #d21034;
	}	
	img{
		margin: 0;
		padding-right: 20px;
		float: left;
	}
	p{
		width: 70%;
		height: auto;
		margin: auto;
		padding: auto;
	}
	ul{
		list-style: inside;
		margin: 0;
		padding: 0;
		font-size: 18px;
	}
	.container{
		width: 1024px;
		margin: 0 auto;
		height: 600px;
	}